@import "compass/css3";
@import "compass/css3/transition";
@import "compass/utilities/general/clearfix";
@import "compass/typography/text/ellipsis";


body {

}

$left-margin: 60px;
$title-padding: 20px;

$main-menu-top: 80px;
$main-menu-width: 320px;
$content-left-margin: 40px;
$content-right-margin: 440px;

$content-top: 30px;
$content-bottom: 80px;

.static-content {
  position: fixed;
  width: $main-menu-width;
  top: $main-menu-top;
}

#main-menu {
  margin-bottom: 60px;
  h1 {
    padding: $title-padding $title-padding $title-padding $left-margin;
    background-color: #f1f1f1;

    div {
      width: 149px;
      height: 63px;
      background: image-url("logo_docs.png") no-repeat 0 0;      
    }
  }
  
  ul {
    margin: 0;
    padding-left: $left-margin;
    list-style-type: none;
    li {
      line-height: 2;
    }
    
    &.inner {
      padding-left: 20px;
    }
  }
}

.disclaimer {
  font-size: 11px;
  padding-left: $left-margin;
}

#content {
  position: absolute;
  top: $content-top;
  left: $main-menu-width + $content-left-margin;
  right: $content-right-margin;
  padding-bottom: $content-bottom;
  
  ul {
    list-style-type: none;
  }
}