@import "compass/css3";
@import "compass/css3/transition";
@import "compass/utilities/general/clearfix";
@import "compass/typography/text/ellipsis";


body {
  font-family: Arial, sans-serif;
  font-size:13px;
  color:#333;
  line-height:18px;
}

$left-margin: 60px;
$title-padding: 20px;

$main-menu-top: 80px;
$main-menu-width: 320px;
$content-left-margin: 40px;

$content-width: 490px;

$content-top: 78px;
$content-bottom: 80px;

.static-content {
  position: fixed;
  width: $main-menu-width;
  top: $main-menu-top;
}

/* TIPOGRAFIA */

p{
  font-family: Arial, sans-serif;
  font-size:13px;
  color:#333;
  line-height:18px;
}

h1, h2, h3{
  font-family: 'Lato', sans-serif;
  line-height:96%;
}

h1{
  font-size:42px;
  font-weight:300;
  margin-bottom:30px;
  color:#000;
}

h2{
  font-weight:700;
  font-size: 24px;
  margin-top:40px;
  color:#333;
  margin-bottom:20px;
}

h3{
  font-weight:700;
  font-size: 18px;
  margin-top:30px;
  color:#555;
  margin-bottom:10px;
}

h4{
  font-weight:700;
  font-size: 13px;
  margin-top:20px;
  color:#333;
  margin-top:-10px;
}


blockquote{
  margin-top:15px;
  margin-bottom:20px;
  p{
    font-family:Arial, sans-serif;
    font-size:12px;
    line-height: 15px;
    font-style:italic;
    }
}

ul{
  margin-top:15px;
  margin-bottom:20px;
}


#main-menu {
  margin-bottom: 60px;
  h1 {
    padding: $title-padding $title-padding $title-padding $left-margin;
    background-color: #f1f1f1;

    div {
      width: 149px;
      height: 63px;
      background: image-url("logo_docs.png") no-repeat 0 0;      
    }
  }
  
  ul {
    margin: 0;
    padding-left: $left-margin;
    list-style-type: none;
    li {
      line-height: 2;
    }
    
    &.inner {
      padding-left: 20px;
    }
  }
}

.disclaimer {
  font-size: 11px;
  padding-left: $left-margin;
}

#content {
  width:$content-width;
  position: absolute;
  top: $content-top;
  left: $main-menu-width + $content-left-margin;
  padding-bottom: $content-bottom;
  
  ul {
    list-style-type: none;
  }
}

#supermenu{
  margin:12px 0px 160px 0px;
  li{
    list-style:none;
    display:block;
    text-align:center;
    a{
      display:block;
      height:13px;
      width:95px;
      float:left;
      padding:70px 5px 20px 5px;
      margin-right:5px;
      line-height:96%;
      &:hover{
        background-color:#00A8E9;
        text-decoration:none;
        color:#fff;
      }
    }
  }
  .mbasico{
    background: #f1f1f1 url("basico.png") no-repeat center 8px;
  }
  .mconsultas{
    background: #f1f1f1 url("consult.png") no-repeat center 8px;
  }
  .menviar{
    background: #f1f1f1 url("send.png") no-repeat center 8px;
  }
  .madmin{
    background: #f1f1f1 url("admin.png") no-repeat center 8px;
  }
}



