body {
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #333;
  line-height: 18px;
}

.static-content {
  position: fixed;
  width: 320px;
  top: 80px;
}

/* TIPOGRAFIA */
p {
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #333;
  line-height: 18px;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  line-height: 96%;
}

h1 {
  font-size: 42px;
  font-weight: 300;
  margin-bottom: 30px;
  color: #000;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  margin-top: 40px;
  color: #333;
  margin-bottom: 20px;
}
h2.titarticle {
  padding-left: 30px;
  background: url("article.png") no-repeat left 3px;
  font-size: 30px;
  color: #555;
  margin-bottom: -10px;
  margin-top: 60px;
}

h3 {
  font-weight: 700;
  font-size: 18px;
  margin-top: 30px;
  color: #555;
  margin-bottom: 10px;
}

h4 {
  font-weight: 700;
  font-size: 13px;
  margin-top: 20px;
  color: #333;
  margin-top: -10px;
}

blockquote {
  margin-top: 15px;
  margin-bottom: 20px;
  background: #f1f1f1 url("info.png") no-repeat 5px 8px;
  padding: 12px 5px 10px 36px;
  border-left: 5px solid #02AFEE;
}
blockquote p {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #555;
}

ul {
  margin-top: 15px;
  margin-bottom: 20px;
}

#main-menu {
  margin-bottom: 60px;
}
#main-menu h1 {
  padding: 20px 20px 20px 60px;
  background-color: #f1f1f1;
}
#main-menu h1 div {
  width: 149px;
  height: 63px;
  background: url('/public/assets/logo_docs.png?1347485565') no-repeat 0 0;
}
#main-menu ul {
  margin: 0;
  padding-left: 60px;
  list-style-type: none;
}
#main-menu ul li {
  line-height: 2;
}
#main-menu ul.inner {
  padding-left: 20px;
}

.disclaimer {
  font-size: 11px;
  padding-left: 60px;
}

#content {
  width: 500px;
  position: absolute;
  top: 78px;
  left: 360px;
  padding-bottom: 80px;
}
#content ul {
  list-style-type: none;
}

#supermenu {
  margin: 12px 0px 160px 0px;
}
#supermenu li {
  list-style: none;
  display: block;
  text-align: center;
}
#supermenu li a {
  display: block;
  height: 13px;
  width: 85px;
  float: left;
  padding: 70px 5px 20px 5px;
  margin-right: 5px;
  line-height: 96%;
  font-size: 11px;
}
#supermenu li a:hover {
  background-color: #00A8E9;
  text-decoration: none;
  color: #fff;
}
#supermenu .mbasico {
  background: #f1f1f1 url("basico.png") no-repeat center 8px;
}
#supermenu .mconsultas {
  background: #f1f1f1 url("consult.png") no-repeat center 8px;
}
#supermenu .menviar {
  background: #f1f1f1 url("send.png") no-repeat center 8px;
}
#supermenu .madmin {
  background: #f1f1f1 url("admin.png") no-repeat center 8px;
}
#supermenu .mdevs {
  background: #f1f1f1 url("devs.png") no-repeat center 8px;
}
