<ul>
  <li><a href="/index.html">Página inicial</a></li>
    
  <li><a href="/intro.html">Conceitos básicos</a></li>
  
  <li><a href="/querying.html">Consultas</a>
    <ul class="inner">
      <li><a href="/content-query.html">Por conteúdo</a></li>
      <li><a href="/aggregation-query.html">Agregação</a></li>
    </ul>
  </li>
  
  <li><a href="/sending-logs.html">Como enviar logs?</a></li>
  
  <li><a href="/administrating.html">Administrando o Lognit</a></li>
  
  <li><a href="/developers.html">Desenvolvedores</a></li>
</ul>
