<ul>
  <li><a href="/">Página inicial</a></li>
    
  <li><a href="/intro">Conceitos básicos</a></li>

  <li><a href="/nit">Command-line Interface</a></li>
  
  <li><a href="/querying">Consultas</a>
    <ul class="inner">
      <li><a href="/content-query">Por conteúdo</a></li>
      <li><a href="/aggregation-query">Agregação</a></li>
    </ul>
  </li>
  
  <li><a href="/sending-logs">Como enviar logs?</a>
      <ul class="inner">
        <li><a href="/configuration-samples">Exemplos de configuração</a></li>
      </ul>    
  </li>
  
  <li><a href="/administrating">Administrando o Lognit</a></li>
  
  <li><a href="/developers">Desenvolvedores</a></li>
</ul>
