<!doctype html>
<html>
<head>
  <meta charset = "utf-8">
  <meta http-equiv = "X-UA-Compatible" content="chrome=1">
  <title>{{ page.title }} - Documentação do Lognit</title>

  <link rel="stylesheet" href="/public/assets/twitter-bootstrap.css">
  <link rel="stylesheet" href="/public/assets/lognit-docs.css">

  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic' rel='stylesheet' type='text/css'>
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31944775-3']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>

  <div id="content">
    {{ content }}
  </div>

</body>
</html>
